[user]
    name = N. Escobar
    email = nick@nescobar.media

[github]
    user = nickesc

[core]
    editor = nano
    
    # Use custom `.gitignore` and `.gitattributes`
    excludesfile = ~/.gitignore
    attributesfile = ~/.gitattributes

    # Treat spaces before tabs and all kinds of trailing whitespace as an error
    # [default] trailing-space: looks for spaces at the end of a line
    # [default] space-before-tab: looks for spaces before tabs at the beginning of a line
    whitespace = space-before-tab,-indent-with-non-tab,trailing-space

    # Make `git rebase` safer on OS X
    # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
    trustctime = false

    # Prevent showing files whose names contain non-ASCII symbols as unversioned.
    # http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
    precomposeunicode = false

[color]
    ui = auto
    
[web]
    browser = google-chrome

[credential]
    helper = osxkeychain
    
[init]
    defaultBranch = main
    
[apply]

    # Detect whitespace errors when applying a patch
    whitespace = fix
    
[merge]

    # Include summaries of merged commits in newly created merge commit messages
    log = true
    
[alias]
    amend = commit --amend --reuse-message=HEAD
    br = branch
    ci = commit
    co = checkout
    contrib = shortlog --summary --numbered
    cr = clone --recursive
    l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    p = push
    pf = push --force
    st = status
    unstage = reset --hard HEAD
    aa = add --all

