
#                 ██ ██
#                ░██░░
#       ██████   ░██ ██  ██████    ██████  █████   ██████
#      ░░░░░░██  ░██░██ ░░░░░░██  ██░░░░  ██░░░██ ██░░░░
#       ███████  ░██░██  ███████ ░░█████ ░███████░░█████
#   ██ ██░░░░██  ░██░██ ██░░░░██  ░░░░░██░██░░░░  ░░░░░██
#  ░██░░████████ ███░██░░████████ ██████ ░░██████ ██████
#  ░░  ░░░░░░░░ ░░░ ░░  ░░░░░░░░ ░░░░░░   ░░░░░░ ░░░░░░

alias ls="ls -a --color=auto"

# alias ls="exa -a"
# alias cat="bat"

alias space="cd ~/Workspace"
alias _space="cd ~/Workspace/__space__"
alias projects="cd ~/Workspace/projects"
alias test="cd ~/Workspace/.test"
alias data="cd ~/Workspace/data"
alias xcode="xed"
alias reload="source ~/.zshrc"
alias dotfiles="cd ~/Workspace/__space__/.dotfiles"
alias _="sudo"
# Copy pwd to clipboard
alias cpwd="pwd|tr -d '\n'|pbcopy && pwd"

alias chrome="open -a /Applications/Google\ Chrome.app"
alias firefox="open -a /Applications/Firefox.app"
alias safari="open -a Safari"


# Exclude macOS specific files in ZIP archives
alias zip="zip -x *.DS_Store -x *__MACOSX* -x *.AppleDouble*"

# Open iOS Simulator
alias ios="open /Applications/Xcode.app/Contents/Developer/Applications/iOS\ Simulator.app"

# Flush DNS
alias flushdns="dscacheutil -flushcache && killall -HUP mDNSResponder"



# Quick-Look preview files from the command line
alias ql="qlmanage -p &>/dev/null"

# Show/hide desktop icons
alias desktopshow="defaults write com.apple.finder CreateDesktop -bool true && killfinder"
alias desktophide="defaults write com.apple.finder CreateDesktop -bool false && killfinder"

# Show/hide hidden files in Finder
alias showhidden="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hidehidden="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Reload native apps
alias killfinder="killall Finder"
alias killdock="killall Dock"
alias killmenubar="killall SystemUIServer NotificationCenter"
alias killos="killfinder && killdock && killmenubar"
alias nomnom="killall"

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though

# Shortcuts
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"

alias finder="open ."
alias g="git"

# Enable aliases to be sudo’ed
alias sudo='sudo '

# MacOS Update
alias osupdate "sudo softwareupdate -i -a"

# Lock the screen (when going AFK)
alias afk="pmset displaysleepnow"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# edit global zsh configuration
alias zshconfig="xcode ~/.zshrc"
# edit local zsh configuration
alias zshlocal="xcode ~/.zshrc_local"

# edit global git configuration
alias gitconfig="xcode ~/.gitconfig"

# PlistBuddy alias, because sometimes `defaults` just doesn’t cut it
alias plistbuddy="/usr/libexec/PlistBuddy"

# Ring the terminal bell, and put a badge on Terminal.app’s Dock icon
# (useful when executing time-consuming commands)
alias badge="tput bel"

alias h='history'
#alias hf='history | grep -i'

# view list of dirs from dirpersist plugin
alias dirhist="cat $HOME/.zdirs"

alias compress="ua"

alias genpass="genpass-apple"

# Run proper IPython regarding current virtualenv (if any)
alias ipython="python3 -c 'import IPython; IPython.terminal.ipapp.launch_new_instance()'"

# Share local directory as a HTTP server
alias pyserver="python3 -m http.server"


alias permex="chmod +x"

# Exa aliases
#x1 = "exa --oneline --all --group-directories-first"
#x = "exa --all --all --long --header --group --group-directories-first --time-style long-iso --git"
#xt = "exa --all --group-directories-first --ignore-glob '*.git' --git-ignore --tree"

# reset info
alias sinfo="info"

# get machine's ip address
alias ip="ipconfig getifaddr en0"

#alias grep='grep --color=auto'
#alias fgrep='fgrep --color=auto'
#alias egrep='egrep --color=auto'

# Airport CLI alias
alias airport='/System/Library/PrivateFrameworks/Apple80211.framework/Versions/Current/Resources/airport'

# List nearby wifi networks
alias wifis="airport -s"

# type sublime . to open current folder in Sublime Text
alias sublime="/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl --new-window $@"



: '
# Dev Aliases
alias rustenv="rustup override set"
alias venvend="deactivate"
alias newreact="npx create-react-app"

alias pipdump="pip freeze > piprequirements.txt"
alias pipreq="pip install -r piprequirements.txt"
alias venvend="deactivate"

alias pyuse="pyenv global"
alias sdkuse="sdk default"
alias nodeuse="n install"
alias rubyuse="chruby"
alias rustuse="rustup default"

alias pyinstall="pyenv install"
alias nodeinstall="n install"
alias sdkinstall="sdk install"
alias rubyinstall="ruby-install"
alias rubyupgrade="ruby-install -latest"
alias rustinstall="rustup install"

alias pyversions="pyenv global"
alias sdkversions="sdk current"
alias nodeversions="n"
alias rubyversions="chruby"
alias rustversions="rustup show"

alias mysqlstart="mysql.server start"
alias mysqlstop="mysql.server stop"
alias mysqlconnect="mysql -u root -p"

alias mongodbstart="mongod --config /opt/homebrew/etc/mongod.conf --fork"
alias mongodbstop="mongo admin --eval "db.shutdownServer()""
alias mongodbconnect="mongosh"

alias cppcompile='c++ -std=c++11 -stdlib=libc++'
'

# Suffix-aliases - alias -s extension=name-of-the-tool
# Markdown files
alias -s {cs,ts,html,md,}=xed
